:root {
    --primary-color: #4E7540;
    --secondary-color: #fffde9;
    --accent-color: #BEFFC7;
    --tertiary-color: #344966;
    --dark-color: #0d1821;
    --white: #FCFFFB;
    --primary-font:  'Fraunces', 'Georgia', serif;
    --secondary-font: 'Kumbh Sans', 'Poppins', sans-serif;
    --shadow-dark: 0px 0px 24px rgba(13, 24, 33, 0.5);
     --shadow-light: 0px 0px 8px rgba(13, 24, 33, 0.2);
}

/* Smooth scroll when using nav links */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--secondary-color);
   
}

nav {
    background-color: var(--primary-color);
    padding: 16px 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

.nav-links {
    text-align: center;
}

.nav-links a {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    color:var(--accent-color);
    margin-right: 40px;
    transition: color 0.25s ease-in-out;
    padding-bottom: 4px;
}

.nav-links a:hover {
    color: var(--white);
    text-shadow: var(--shadow-dark);
    border-bottom: 1px dotted var(--accent-color);
}

/* Prevent Food & Drink link from wrapping/separating text */
.nowrap {
    white-space: nowrap;
}

.logo {
    width: 400px;
    padding: 8px;
}

.logo-h {
    display: none;
}

header {
    background-color: var(--primary-color);
    margin-bottom: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.intro {
    background-color: var(--primary-color);
    padding: 40px 40px;
}

.intro-heading {
    font-size: 6rem;
    line-height: 6rem;
    font-family: var(--primary-font);
    font-weight: 600;
    color: var(--accent-color);
    margin-bottom: 40px;
}

/* Kerning on first letter of heading */
.intro-heading::first-letter {
    letter-spacing: -1px;
}

.intro-subheading {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 2em;
    font-weight: 200;
    max-width: 600px;
}

.hero-image {
    width: 720px;
    height: fit-content;
    border-radius: 30px;
    box-shadow: var(--shadow-dark);
}

.hero-image-contact {
    width: 480px;
    /* height: fit-content; */
    border-radius: 300px;
    box-shadow: var(--shadow-dark);
    margin-left: 16px;
    margin-right: 16px;
}

/* Media queries for switching logo to square variant for smaller screens */
@media screen and (max-width: 600px) {
    .logo-h {
        display: block;
        width: 200px;
    }
    
    .logo {
        display: none;
    }

    .intro-heading {
        font-size: 4rem;
        line-height: 4rem;
    }

    .intro-subheading {
        font-size: 1.5em;
        line-height: 1.5em;
    }

    .nav-links {
        padding-left: 16px;
    }

    .feature-text {
        font-size: 2em;
        line-height: 1.4em;
    }
}

main {
    background-color: var(--secondary-color);
    padding: 24px 40px;
}

h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1.3em;
    max-width: 630px;
    margin-bottom: 40px;
}

.features {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 80px;
}

.feature-card h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 16px;
}

.feature-card {
    background-color: var(--white);
    border: 1px dotted var(--primary-color);
    padding: 24px 24px 40px 24px;
    width: 400px;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    color: var(--tertiary-color);
    border-radius: 24px;
}

/* Contact form section */
.contact-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 80px;
    margin-bottom: 120px;
}

/* Social media icons */
i {
    margin-right: 16px;
}

/* Social media links in contact section */
.contact-links  {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    color: var(--tertiary-color);
    margin-top: 16px;
    display: inline-block;
}

.contact-links li {
    padding: 4px 16px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.contact-links li:hover {
    background-color: var(--accent-color);
    border-radius: 200px;
}

/* Deliveroo icon in list */
.deliveroo-dark {
    width: "24px";
    margin-right: 16px;
}

/* Form styling */
.form-heading {
    font-size: 3em;
}

#form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 32px;
    width: 600px;
    background-color: var(--white);
    padding: 24px 32px;
    border-radius: 24px;
    border: 1px dotted var(--primary-color);
}

.form-blurb {
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    color: var(--tertiary-color);
}

label {
    font-family: var(--secondary-font);
    font-size: 1.5em;
    color: var(--tertiary-color); 
}

input {
    margin: 8px 0px 24px 0;
    padding: 8px 16px;
    width: 100%;
    border: 2px dotted var(--primary-color);
    border-radius: 24px;
    background-color: var(--white);
    font-family: var(--secondary-font);
    font-size: 20px;
    transition: all 0.2s ease-in-out;
} 

input:focus, textarea:focus {
    border: 2px solid var(--primary-color);
}

textarea {
    flex-grow: 1;
    width: 100%;
    margin-top: 10px;
    padding: 16px;
    border: 2px dotted var(--primary-color);
    border-radius: 24px;
    resize: vertical;
    background-color: var(--white);
    font-family: var(--secondary-font);
    font-size: 20px;
    transition: all 0.2s ease-in-out;
}

button {
    padding: 8px 24px;
    border: none;
    background-color: var(--primary-color);
    border-radius: 60px;
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 1.5em;
    font-weight: 500;
    margin: 16px 0px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    color: var(--tertiary-color);
}

button:active {
    background-color: var(--tertiary-color);
    color: var(--accent-color);
    scale: 0.95;
}

.disclaimer {
    font-size: 16px;
    font-family: var(--primary-font);
    color: var(--tertiary-color);
    text-align: right;
}

.disclaimer:before {
    content: "✱";
    margin-right: 4px;
    font-size: 16px;
    color:var(--primary-color);
}

/* Pseudo element for adding an asterisk to indicate which field is required */
.email-label:after {
    content: "✱";
    margin-left: 8px;
    font-size: 16px;
    color: var(--primary-color);
    vertical-align: top;
}

/* Fix for making the Google Maps embed responsive */
.google-map {
    position: relative;
    width: 75%;
    height: 0;
    padding-bottom: 500px;
}


iframe {
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Required for Font Awesome icons  */

.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.location {
    padding: 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 120px;
}

#location-text {
    /* background-color: var(--white); */
    padding: 24px 64px;
    border-radius: 24px;
    box-shadow: var(--shadow-light);
}

#location-image img {
    width: 640px;
    border-radius: 24px;
    box-shadow: var(--shadow-light);
}

.address {
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-size: 1.5em;
    margin-left: 24px;
    text-indent: -32px;
    margin-bottom: 24px;
}

.address::before {
    font: var(--fa-font-solid);
    content: "\f3c5";
    position: relative;
    margin-right: 16px;
    color: var(--primary-color);
}

.open-hours {
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-size: 1.5em;
    margin-left: 24px;
    text-indent: -40px;
    margin-bottom: 24px;
}

.open-hours::before {
    font: var(--fa-font-regular);
    content: "\f017";
    position: relative;
    margin-right: 8px;
    color: var(--primary-color);
}

.phone {
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-size: 1.5em;
    margin-left: 24px;
    text-indent: -40px;
    margin-bottom: 24px;
}

.phone::before {
    font: var(--fa-font-solid);
    content: "\f095";
    position: relative;
    margin-right: 8px;
    color: var(--primary-color);
}

.instagram {
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-size: 1.5em;
    margin-left: 24px;
    text-indent: -40px;
    margin-bottom: 24px;
}

.instagram::before {
    font: var(--fa-font-brands);
    content: "\f16d";
    position: relative;
    margin-right: 10px;
    color: var(--primary-color);
}

footer {
    background-color: var(--white);
    padding: 24px 16px 80px 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.footer-logo {
    width: 100px;
}

.quick-links li {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 1.1rem;
    padding: 4px 16px;
    margin-bottom: 8px;
    transition: all 0.25s ease-in-out;
    border-radius: 24px;
    width: fit-content;
}

.quick-links li:hover {
    background-color: var(--accent-color);
    color: var(--tertiary-color);
}

/* Social media links in footer */
.social-links {
    display: flex;
}

.social-links li {
    font-size: 2rem;
    padding: 8px;
    color: var(--primary-color);
    transition: all 0.25s ease-in-out;
}

.social-links li:hover {
    opacity: 0.7;
}

/* Had to use png for deliveroo as no icon font */
.deliveroo-icon {
    max-width: 32px;
}